.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #EAEAEA;
    height: 3.125rem;
}

.localisation p {
    font-weight: 500;
    color:#353535;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 1.5rem;
    padding: 2.5rem 1.5rem 3.5rem 2rem;
    background-color: #F6F6F6;
}

.presentation h1 {
    height: 4.25rem;
    margin-bottom: -1.5rem;
}

.presentation button {
    border-radius: 25px;
    border: 1px solid var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    height: 3.125rem;
    width: 13.625rem;
}

.presentation button a {
    text-decoration: none;
    color: var(--White, #FFF);
    height: 1.5rem;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 3rem 1.25rem 4.25rem 2rem;
}

.fonctionnement p { /**/
    font-weight: 500;
}

.fonctionnement h2 {
    margin-right: 2rem;
}

.fonctionnement ol {
    list-style-type: none;
    padding: 0;
}

.fonctionnement li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.56rem;
    width: 20.125rem;
    height: 4.52rem;
    background: var(--Background, #F6F6F6);
    border-radius: 20px; 
    overflow: hidden; /* Pour s'assurer que le contenu à l'intérieur ne dépasse pas le rectangle */
    border: 1px solid #f5f5f5; 
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.fonctionnement li::before {
    content: ""; /* Réinitialise le contenu par défaut */
    position: absolute;
    width: 1.4rem; /* Largeur du cercle */
    height: 1.4rem; /* Hauteur du cercle */
    border-radius: 50%; /* Pour créer un cercle */
    background-color: #9356DC; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    font-weight: 500;
    font-size: 14px; 
    left: 21px; 
}


.fonctionnement li:nth-child(1)::before {
    content: "1";
}

.fonctionnement li:nth-child(2)::before {
    content: "2";
}

.fonctionnement li:nth-child(3)::before {
    content: "3";
}

.fonctionnement li i {
    margin: 0 25px 0 25px; /* Espacement entre l'icône et le texte */
}

.fonctionnement li p {
    margin: 15px 0; /* Espacement du texte à l'intérieur du rectangle */
}

.fonctionnement li:nth-child(1) i,
.fonctionnement li:nth-child(2) i {
    color: #7E7E7E;
}

.fonctionnement li:nth-child(3) i {
    color: #9356DC;
}

.restaurants {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 3.5rem 1.25rem 4rem 1.25rem;
    background-color: #F6F6F6;
}

.liste_cartes {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
}

.carte_restaurant {
    position: relative;
    border-radius: 1rem;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 1rem;  
}

.carte_restaurant img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0; 
}

.carte_restaurant a {
    text-decoration: none;
    color: inherit;
    display: flex; 
    flex-direction: column;
}

.description_carte {
    display: flex;
    flex-direction: column;
}

.description_carte h3 {
    padding-top: 0.75rem;
    padding-bottom: 0.4rem;
    padding-left: 0.75rem;
}

.description_carte p {
    padding-left: 0.75rem;
}

.logo_coeur {
    display: flex;
    justify-content: flex-end; 
    
}

.restaurants .liste_cartes .carte_restaurant.nouveau::after {
    content: "Nouveau";
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: #99E2D0;
    color: #008766;
    padding: 0.25rem 0.5rem;
    font-family: $primary-font;
}