main img {
    height: 17.18rem;
    width: 100%;
    object-fit: cover;
}

.menu {
    position: relative;
    margin-top: -3.5rem;
    border-radius: 2.5rem 2.5rem 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
    padding: 2rem 1rem 2rem 1rem;
    background-color: #F6F6F6 ;
}

.conteneur_coeur {
    display: flex;
    justify-content: space-between;
    width: 21.3125rem;
}

.conteneur_coeur h1 {
    font-size: 1.75rem; /* Taille du titre h1 (ajuste la valeur selon tes besoins) */
    /* Autres styles que tu souhaites appliquer à h1 */
    overflow: hidden; /* Évite que le texte dépasse du conteneur */
    white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
    margin: 0; /* Pour enlever la marge par défaut du h1 */
}


.section_menu {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    width: 100%;
}

h3::after {
    
    display: block;
    width: 2.5rem;
    height: 3px;
    background: $tertiary-color;
    margin-top: 0.75rem;
}


.intitule_plat {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 21.5rem;
    height: 4.5rem;
    background: var(--Background, #F6F6F6);
    border-radius: 20px; /* Bords arrondis */
    overflow: hidden; /* Pour s'assurer que le contenu à l'intérieur ne dépasse pas le rectangle */
    border: 1px solid #f5f5f5; /* Bordure de 1 pixel */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden; /* Évite que le texte dépasse du conteneur */
    white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
    overflow: hidden; /* Évite que le texte dépasse du conteneur */
    white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
}

.intitule_plat span {
    margin-left: auto;
    margin-top: 1.87rem;
}

.intitule_plat h3 {
    margin-bottom: 0.31rem; /* Espacement entre le h3 et le p */
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    height: 3.125rem;
    width: 11.625rem;
}

button p {
    text-decoration: none;
    color: var(--White, #FFF);
    height: 1.5rem;
    font-weight: 400;
}

