main img {
    height: 17.18rem;
    width: 100%;
    object-fit: cover;
}

.menu {
    position: relative;
    margin-top: -3.5rem;
    border-radius: 2.5rem 2.5rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
    padding: 2rem 1rem 2rem 1rem;
    background-color: $quaternary-color;
}

.conteneur_coeur {
    display: flex;
    justify-content: space-between;
    width: 21.3125rem;

    h1 {
        font-size: 1.65rem;
        overflow: hidden;
        white-space: nowrap;
    }
}

.section_menu {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    width: 100%;


    h2::after {
        content: "";
        display: block;
        width: 2.5rem;
        height: 0.188rem;
        background: $tertiary-color;
        margin-top: 0.5rem;
    }
}

.intitule_plat {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 4.5rem;
    background: var(--Background, $quaternary-color);
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid $quaternary-color;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    white-space: nowrap;
    align-self: center;

    span {
        margin-left: auto;
        margin-top: 1.87rem;
    }

    h3 {
        margin-bottom: 0.15rem;
    }

    p {
        margin-bottom: 0.5rem;
    }
}


/*Media query*/

@media (min-width: 992px) {
    .menu {
        justify-content: center;
        align-items: center;
        padding-bottom: 2.5rem;
        width: 70%;
        margin-left: 15%;
    }


    .section_menu {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}