footer {
    display: flex;
    padding: 22px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: #353535;
}

footer img{
    filter: invert(100%);
    height: 1.3rem;
}

footer li {
    display: flex;
    align-items: center;
    gap: 7px;
    line-height: 1.5;
}

footer i {
    color: white;
}

footer p {
    color: #FFF;
}