header {
    display: flex;
    height: 3.93rem;
    padding: 1.5rem 5.56rem 1.5rem 5.56rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative; // Ajoutez cette ligne pour permettre le positionnement absolu de l'ombre
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  
    a {
      position: absolute;
      left: 1rem;
    }
  
    img {
      margin-left: auto;
      margin-right: auto;
    }
  
    a i {
      color: black;
    }
  }
  